LangTranslator.json
[{"id":"357b5aa1.eee756","type":"tab","label":"Flow - Language Translator","disabled":false,"info":""},{"id":"af780a2b.bd8bd8","type":"watson-speech-to-text","z":"357b5aa1.eee756","name":"SpeechText","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"BroadbandModel","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"_YjRIZQ9AHL-BKEDRkbsKYUuR6jqmQa1nZBUM4xFalO4","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/d67692c0-4a03-4bd2-ab05-679f491841c7","x":530,"y":100,"wires":[["756b42df.57c17c","a2ddc098.48f13","49ccc29f.0e72bc"]]},{"id":"4ab89539.8d964c","type":"watson-translator","z":"357b5aa1.eee756","name":"LangTranslation","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"it","password":"","apikey":"5vNCVGtgii8pgnBVfUHs31iQ_RCG0Cm_RX5oWhXsgwEW","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"it","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/c7c7635c-d33b-4b32-9ef4-20e7de688c2e","x":560,"y":240,"wires":[["c1524479.d52f28","98e8958.de39468","88d8f15b.9a145"]]},{"id":"98e8958.de39468","type":"watson-text-to-speech","z":"357b5aa1.eee756","name":"TextSpeech","lang":"it-IT","langhidden":"it-IT","langcustom":"NoCustomisationSetting","langcustomhidden":"NoCustomisationSetting","voice":"it-IT_FrancescaV3Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"3gtCYYU4BE3N22yuTOtWQ506s7JFN8NDyctnPCSzFWwG","payload-response":true,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/756ae10f-b4f8-4401-a9d2-431daf4ea5cc","x":530,"y":380,"wires":[["e25c78ee.d5f178"]]},{"id":"e25c78ee.d5f178","type":"play audio","z":"357b5aa1.eee756","name":"SpeakDavid","voice":"0","x":810,"y":380,"wires":[]},{"id":"c1524479.d52f28","type":"debug","z":"357b5aa1.eee756","name":"TranslatedText","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":815,"y":242,"wires":[]},{"id":"48f2e36a.222fac","type":"microphone","z":"357b5aa1.eee756","name":"SpeechInput","x":330,"y":100,"wires":[["af780a2b.bd8bd8"]]},{"id":"756b42df.57c17c","type":"debug","z":"357b5aa1.eee756","name":"SpokenText","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":60,"wires":[]},{"id":"a2ddc098.48f13","type":"change","z":"357b5aa1.eee756","name":"ChangeType","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":120,"wires":[["4ab89539.8d964c"]]},{"id":"49ccc29f.0e72bc","type":"ui_text","z":"357b5aa1.eee756","group":"5c274c8a.307124","order":1,"width":0,"height":0,"name":"","label":"You Spoke:","format":"{{msg.transcription}}","layout":"row-spread","x":830,"y":460,"wires":[]},{"id":"88d8f15b.9a145","type":"ui_text","z":"357b5aa1.eee756","group":"5c274c8a.307124","order":2,"width":0,"height":0,"name":"","label":"Bot spoke:","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":520,"wires":[]},{"id":"5c274c8a.307124","type":"ui_group","z":"","name":"Language Translator","tab":"33f85c88.2b35b4","order":1,"disp":true,"width":"20","collapse":false},{"id":"33f85c88.2b35b4","type":"ui_tab","z":"","name":"Translator Console","icon":"dashboard","disabled":false,"hidden":false}]